"*":
  "exception-reporting":
    userId: "9ddbdfba-91f5-a600-94df-a8689e77bb0c"
  welcome:
    showOnStartup: false
  metrics:
    userId: "3fcedba0d56932690038cac0b94ff9daf4f8896e"
  editor:
    fontFamily: "Consolas"
    fontSize: 13
    lineHeight: 1.4
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    invisibles:
      eol: " "
  core:
    disabledPackages: [
      "file-icons"
    ]
    themes: [
      "atom-dark-ui"
      "oceans16-syntax"
    ]
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  "atom-alignment": {}
